In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.shape

(404290, 6)

In [5]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
new_df = df.sample(15000)

In [7]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
45955,45955,82263,30129,How can I prepared for gate exam ME branch wit...,How do I prepare for the GATE in 3–6 months? W...,0
334695,334695,461892,461893,Do you have to be a resident to open up a bank...,Do I have to be a resident to open a bank acco...,1
39337,39337,20611,71325,What are the strongest majors in terms of job ...,What are the strongest majors in terms of job ...,0
46567,46567,83282,83283,"I am 21, but my face looks very weak with visi...","My face does NOT match my age. I'm 16, but loo...",0
114073,114073,33385,49716,Are conspiracy theories ever true?,Is there any conspiracy theory proven true?,1

In [9]:
ques_df = new_df.drop(columns=['id','qid1','qid2','is_duplicate'])

In [10]:
ques_df.head()

,question1,question2
45955,How can I prepared for gate exam ME branch wit...,How do I prepare for the GATE in 3–6 months? W...
334695,Do you have to be a resident to open up a bank...,Do I have to be a resident to open a bank acco...
39337,What are the strongest majors in terms of job ...,What are the strongest majors in terms of job ...
46567,"I am 21, but my face looks very weak with visi...","My face does NOT match my age. I'm 16, but loo..."
114073,Are conspiracy theories ever true?,Is there any conspiracy theory proven true?

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr,q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [12]:
temp_df1 = pd.DataFrame(q1_arr, index = ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index = ques_df.index)
temp_df = pd.concat([temp_df1,temp_df2],axis = 1)
temp_df.shape

(15000, 6000)

In [13]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [14]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
45955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114073,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
from sklearn.model_selection import train_test_split

In [37]:
xTrain,xTest,yTrain,yTest = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=2)

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()

In [39]:
rf.fit(xTrain,yTrain)

RandomForestClassifier()

In [41]:
y_pred = rf.predict(xTest)
accuracy_score(yTest,y_pred)

0.723